{% extends 'body.html' %}

{% block content %}
<h3 class="display-3 text-center my-3">{{title}}</h3>
<form action="">
  {% csrf_token %}
  <div class="card container-sm mx-auto mb-5 col-md-12" style="width: 75rem;">

    <div class="card-body">
      {{form}}
    </div>
    <div class="card-footer">
      {% block add_btn %}
      <button type="submit" class="btn btn-primary"><i class="fas fa-save small"></i> Agregar Provincia</button>
      {% endblock add_btn %}
    </div>
  </div>
</form>
{% endblock content %}