{% extends 'home.html' %}

{% block content %}
<div class="container">
  <div class="card mx-auto my-5" style="width: 75rem;">
    <div class="card-header">
      <h5 class="card-title"><i class="fas fa-list"></i> {{ title }}</h5>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">N° Distrito</th>
            <th scope="col">Provincia</th>
            <th scope="col">Creado</th>
            <th scope="col">Modificado</th>
          </tr>
        </thead>
        <tbody>
          {% for p in provinces %}
          <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.number_id }}</td>
            <td>{{ p.province }}</td>
            <td>{{ p.date_creation }}</td>
            <td>{{ p.date_updated }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock content %}