{% load static %}

<!DOCTYPE htmla>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href= {% static 'lib/bootstrap_5.3.3/css/bootstrap.min.css' %}>
  <link rel="stylesheet" href= {% static 'css/styles.css' %}>
  <script src= {% static 'lib/bootstrap_5.3.3/js/bootstrap.min.js'%}></script>
</head>
<body>
<h1>INICIANDO EL PROGRAMA</h1>
  <h2>

    {% if employee %}
      hay datos!!
    {% endif %}

  </h2>

  <a href="{% url 'sh:vista2' %}">a dos</a>

  {% block content %}

  {% endblock content %}
  <p>
    {{ name }}
  </p>

<ul>
  {% for e in employee %}
    <ul>{{e.id}}/ {{e.employee_last_name}}, {{e.employee_name}}. </ul>
    <li>{{e.avatar}}</li>
  {% endfor %}
</ul>

</body>
<script src= {% static 'lib/bootstrap_5.3.3/js/bootstrap.min.js'%}></script>
</html>