
{% extends 'body.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href={% static 'lib/datatables_2.0.1/datatables.min.css' %}>
  <script src={% static 'lib/datatables_2.0.1/datatables.min.js' %}></script>
{% endblock head %}

{% block content %}

  <h3 class="display-3 text-center my-3">{{title}}</h3>


  <div class="card mx-auto mb-5" style="width: 75rem;">

    <div class="card-body">
      <table class="table table-striped" id="data">
        <thead>
          {% block columns %}

          {% endblock columns %}
        </thead>
        <tbody>
          {% block rows %}

          {% endblock rows %}

        </tbody>
      </table>
    </div>
    <div class="card-footer">
      {% block add_btn %}

      {% endblock add_btn %}
    </div>
  </div>

{% endblock content %}

{% block js %}
  <script type="application/javascript">
    let table = new DataTable('#data', {
      responsive: {
        breakpoints: [
      {name: 'bigdesktop', width: Infinity},
      {name: 'meddesktop', width: 1480},
      {name: 'smalldesktop', width: 1280},
      {name: 'medium', width: 1188},
      {name: 'tabletl', width: 1024},
      {name: 'btwtabllandp', width: 848},
      {name: 'tabletp', width: 768},
      {name: 'mobilel', width: 480},
      {name: 'mobilep', width: 320}
      ]
    }
  });
  </script>
{% endblock js %}