
{% extends 'body.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href={% static 'lib/datatables_2.0.1/datatables.min.css' %}>
  <script src={% static 'lib/datatables_2.0.1/datatables.min.js' %}></script>
{% endblock head %}

{% block content %}

  <h3 class="display-3 text-center my-3">{{title}}</h3>


  <div class="card mx-auto mb-5" style="width: 75rem;">

    <div class="card-body">
      <table class="table table-striped" id="data">
        <thead>
          {% block columns %}

          {% endblock columns %}
        </thead>
        <tbody>
          {% block rows %}

          {% endblock rows %}

        </tbody>
      </table>
    </div>
    <div class="card-footer">
      {% block add_btn %}

      {% endblock add_btn %}
    </div>
  </div>

{% endblock content %}

{% block js %}
  <script type="application/javascript">
    let table = new DataTable('#data', {
      responsive: true,

      "languge": {
        url: "{% static 'lib/datatables_2.0.1/spanish.json' %}"
      }

    });
  </script>
{% endblock js %}