{% load static %}

<div class="wrapper">
  <footer class="bg-secondary-subtle text-dark pt-3 pb-3">
    <div class="container text-center text-md-start">
      <div class="row text-center text-md-start">
        <div class="container row text-center mb-1">
          <p>
            <i class="fa fa-copyright" aria-hidden="true"></i> Todos los derechos reservados
            <a href="#">
              <strong class="text-primary">Test</strong>
            </a>
          </p>
        </div>
        <div class="text-center">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="#" class="text-dark">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-dark">
                <i class="fab fa-x-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-dark">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-dark">
                <i class="fab fa-whatsapp"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-dark">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>